* {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
}

.header-wrapper {
    max-width: 1280px;
    margin: 0 auto;
    padding: 60px;
}

.header-wrapper .header-navbar {
    max-width: 85%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.header-wrapper .header-navbar .logo-wrapper img {
    width: 128px;
}

.header-wrapper .header-navbar .navbar-links {
    list-style: none;
    display: flex;
    gap: 30px;
    font-size: 1.30em;
    font-weight: 500;
}

.header-wrapper .header-navbar .navbar-links li a {
    color: #474747;
    text-decoration: none;
}